<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>

    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8"/>
    <title>Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <!-- 新 Bootstrap4 核心 CSS 文件 -->

    <!-- 新 Bootstrap4 核心 CSS 文件 -->
    <link rel="stylesheet" th:href="@{/css/bs4.css}"/>
    <link rel="stylesheet" href="../../static/css/bs4.css"/>


</head>
<body class="container">


<div class="container with:80%" style="margin-top: 10%">
    <div th:if="${error}" class="col-sm-8">
        <div id="info_erro" class="alert alert-danger alert-dismissable">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <strong>erro!</strong> 添加错误可能输入字段不正确
        </div>
    </div>
    <form class="form-horizontal" th:action="@{/manager/add}" th:object="${user}" method="post">
        <input type="hidden" name="id" th:value="*{id}"/>
        <div class="form-group form-inline">
            <label for="idnumber" class="col-sm-1 control-label">学号</label>
            <input type="text" class="form-control" name="idnumber" th:value="*{idnumber}" id="idnumber"
                   placeholder="学号"/>
        </div>
        <div class="form-group form-inline">
            <label for="password" class="col-sm-1 control-label">密码</label>
            <input type="text" class="form-control" name="password" th:value="*{password}" id="password"
                   placeholder="密码"/>
        </div>
        <div class="form-group form-inline">
            <label class="control-label col-sm-1">角色</label>
            <select name="role" class="form-control" id="role">
                <option value="admin" th:selected="${role=='admin'}">admin</option>
                <option value="teacher" th:selected="${role=='teacher'}">teacher</option>
                <option value="student" th:selected="${role=='student'}">student</option>
            </select>
        </div>
        <div class="form-group form-inline">
            <label for="name" class="col-sm-1 control-label">姓名</label>
            <input type="text" class="form-control" name="name" th:value="*{name}" id="name" placeholder="姓名"/>
        </div>
        <div class="form-group form-inline">
            <label class="control-label col-sm-1">性别:</label>
            <select name="sex" class="form-control" id="sex">
                <option value="男" th:selected="${sex=='男'}">男</option>
                <option value="女" selected="selected" th:selected="${sex=='女'}">女</option>
            </select>
        </div>
        <div class="form-group form-inline">
            <label for="IDCard" class="col-lg-1 control-label">身份证号</label>
            <input type="text" class="form-control" name="IDCard" th:value="*{IDCard}" id="IDCard" placeholder="身份证号"/>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <input type="submit" value="Submit" class="btn btn-info"/>
                &nbsp; &nbsp; &nbsp;
                <input type="reset" value="Reset" class="btn btn-info"/>
            </div>
        </div>

    </form>
</div>

</body>
</html>