
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8"/>
    <title>上机考试系统</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    <!-- le styles -->
    <link href="/css/bs4.css" rel="stylesheet"/>
    <style>
        body {
            padding-top: 60px;
            /* 60px to make the container go all the way to the bottom of the topbar */
        }
    </style>
    <!-- le html5 shim, for ie6-8 support of html5 elements -->
    <!--[if lt ie 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
</head>

<body>

<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
            <span class="brand"><strong>上机考试系统</strong></span>

            <ul class="nav navbar-nav">
                <li><a href="student_main"><i class="icon-home icon-white"></i>首页</a></li>
                <li><a href="student_exam_listdir"><i class="icon-eye-open icon-white"></i>查看提交</a></li>
            </ul>
            <ul class="nav navbar-nav pull-right">
                <li><span class="brand"><small>欢迎，<p th:text="${session.user.name}"/></small></span></li>
            </ul>
            <!--/.nav-collapse -->
        </div>
    </div>
</div>

<div class="container">
    <h1>
        <img src="assets/img/exam-student.png"/>  上机考试中...
    </h1>
    <div class="container-fluid">
        <div class="row-fluid">
            <div class="span6">
                <h3>试卷下载</h3>
                <br/>
                下载查看
                    <p class="exam-info">本次考试没有电子试卷。
                    </p>
            </div>
            <div class="span6">
                <h3>答案上传</h3>
                <br/>
                <p>请按照考试要求将答案文件打包，再次进行上传。同名文件多次上传将会覆盖。</p>
                <form class="form-inline" action="student_exam_upload" enctype="multipart/form-data" method="post">
                    <input type="file" name="answer"/>
                    <input type="submit" class="btn btn-primary" value="上传"/>
                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>
