<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Title</title>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <script th:src="@{/js/jquery-3.2.1.js}" src="../../static/js/jquery-3.2.1.js"></script>
    <link rel="stylesheet" th:href="@{/css/bs4.css}" href="/css/bs4.css"/>
    <script th:src="@{/js/bs4.js}" src="/static/js/bs4.js"></script>
    <link rel="stylesheet" th:href="@{/css/exam.css}" href="/static/css/exam.css"/>
    <link rel="stylesheet" th:href="@{/css/bootstrap-datetimepicker.min.css}"
          href="/static/css/bootstrap-datetimepicker.min.css" media="screen"/>
    <link th:href="@{/css/bs3.css}" rel="stylesheet" href="/static/css/bs3.css"/>
    <script src="https://cdn.bootcss.com/popper.js/1.12.5/umd/popper.min.js"></script>
    <script src="https://cdn.bootcss.com/bootstrap/4.0.0-beta/js/bootstrap.min.js"></script>
    <script th:src="@{/js/bootstrap-datetimepicker.min.js}" src="/static/js/bootstrap-datetimepicker.min.js"></script>
    <script th:src="@{/js/bootstrap-datetimepicker.zh-CN.js}"
            src="/static/js/bootstrap-datetimepicker.zh-CN.js"></script>
    <script src="../../static/js/date.js" th:src="@{/js/date.js}"></script>
</head>
<body>
<div th:replace="/teacher/layout::header"></div>

<div class="container">
    <div class="col-md-12" style="padding-left: 5px; padding-right: 5px;">
        <div class="alert navbar-inverse "
             style="background-color: #eeeeee; margin-top: 20px;">
            <strong style="margin-left: 20px; font-size: 18px">编辑考试信息</strong>
            <form class="exam-form form-inline" th:action="@{/teacher/editExam/} + ${id} + @{/edit}" method="post"
                  enctype="multipart/form-data">
                <input type="hidden" name="id" th:value="${exam.id}"/>
                考试名称:<strong><span th:text="${exam.subject}"></span></strong>
                &nbsp; &nbsp;
                <div class="input-group date form_datetime" id="datepicker"
                     data-date-format="yyyy-mm-dd HH:ii" data-link-field="dtp_input1">
                    <input name="starttime" class="form-control " size="16" type="text" value=""
                           readonly="readonly" placeholder="开始时间" th:value="${exam.start_date}"/>
                    <span class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span>
                    <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                    <input type="hidden" id="dtp_input1" value=""/><br/>
                </div>
                <input class="form-control" type="checkbox" name="eautostart" value="true"/> 自动开始&nbsp; &nbsp;
                <input type="submit" class="btn btn-primary" value="修改"/>
            </form>
        </div>

        <div class="col-md-12" style="padding-left: 5px; padding-right: 5px;">
            <div class="alert navbar-inverse "
                 style="background-color: #eeeeee; margin-top: 20px;">
                <strong style="margin-left: 20px; font-size: 18px">上传试卷</strong>
                <div th:if="${exam.hasPaper}" class="navbar navbar-inverse"
                     style="line-height: 50px;padding-left: 25px;color: white;margin-top: 8px;">
                    已经上传过试卷，再次上传后原试卷将不可访问<a class="btn btn-default"
                                            href="/teacher/exam_download" style="margin-left: 10px"><span
                        class="glyphicon glyphicon-eye-open"></span>下载查看</a>
                </div>
                <form class="form-inline" role="form" th:action="@{/teacher/exam_upload/}+${exam.id}"
                      enctype="multipart/form-data" method="post"
                      style="margin-left: 20px; margin-top: 8px;">
                    <input type="file" id="file" name="file"/>
                    <button type="submit"
                            style="margin-top: 5px" class="btn btn-primary">上传
                    </button>
                </form>
            </div>
        </div>
        <div class="col-md-12" style="padding-left: 5px; padding-right: 5px;">
            <div class="alert navbar-inverse "
                 style="background-color: #eeeeee; height: 140px; margin-top: 20px;">
                <strong style="margin-left: 20px; font-size: 18px">导入学生名单</strong>
                <form class="form-inline" role="form"
                      style="margin-left: 20px; margin-top: 12px;">
                    <label style="font-size: 12px">目前设定参加此次考试的学生人数：</label> <span>0</span>
                    <br/> <a href="search_student.jsp" class="btn btn-info">继续导入</a>
                </form>
            </div>
        </div>
        <div class="col-md-12" style="padding-left: 5px; padding-right: 5px;">
            <div class="alert navbar-inverse "
                 style="background-color: #eeeeee; height: 140px; margin-top: 20px;">
                <strong style="margin-left: 20px; font-size: 18px">开启考试</strong>
                <form class="form-inline" role="form" action="../../exam_Start"
                      style="margin-left: 20px; margin-top: 12px;">
                    <span style="font-size: 12px; color: #f7AE3F">尚未上传试卷</span> <br/>
                    <button type="submit" style="margin-top: 12px"
                            class="btn btn-warning">
                        <span class="glyphicon glyphicon-off"></span>开启
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>


</body>
</html>