<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8"/>
    <title>Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <!-- 新 Bootstrap4 核心 CSS 文件 -->
    <script th:src="@{/js/jquery-3.2.1.js}" src="../../static/js/jquery-3.2.1.js"></script>
    <link rel="stylesheet" th:href="@{/css/bs4.css}" href="/css/bs4.css"/>
    <script th:src="@{/js/bs4.js}" src="../../static/js/bs4.js"></script>
    <link rel="stylesheet" th:href="@{/css/exam.css}" href="../../static/css/exam.css"/>
    <link th:src="@{/css/bs3.css}" rel="stylesheet" href="../../static/css/bs3.css"/>
    <script src="https://cdn.bootcss.com/popper.js/1.12.5/umd/popper.min.js"></script>
    <script src="https://cdn.bootcss.com/bootstrap/4.0.0-beta/js/bootstrap.min.js"></script>
</head>
<body>
<div th:replace="/teacher/layout::header"></div>
<form class="exam-form form-inline" action="teacher_manage_student_insert"
      method="post">
    <h4>添加单个学生</h4>
    <input type="text" name="sno" placeholder="学号*" size="20"/>
    <input type="text" name="sname" placeholder="姓名*" size="20"/>
    <input type="text" name="sclass" placeholder="班级" size="20"/>
    <button type="submit" class="btn btn-primary"><i class="icon-plus"></i> 添加</button>
</form>
</body>
</html>