<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>

    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8"/>
    <title>Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" th:href="@{/css/bs4.css}"/>
    <script src="/js/jquery-3.2.1.js"></script>
    <script src="/js/bs4.js"></script>
    <link rel="stylesheet" href="../static/css/bs4.css"/>


    <!-- 新 Bootstrap4 核心 CSS 文件 -->
</head>
<body>


</body>
</html>